<html>
<head>
  <title>Reset Password</title>
  <%= stylesheet_link_tag  "signup", :media => "all" %>
    <%= csrf_meta_tags %>
</head>
<body>


  <div id="wrapper"/>
<div id="header">
  <h1>Dynamic Form Builder</h1>
        </div>
  <div id="signup_main">
<%= form_for :user, :url => {:controller =>"signup" ,:action=>:reset_password}  do |f| %>


 
<%= hidden_field_tag :email,  current_user.nil? ?   @user.email : current_user.email  %>
<p>
<%= f.label :New_password %><br />
<%= f.password_field :password %>
</p>
<p>
<%= f.label :password_confirmation %><br />
<%= f.password_field :password_confirmation %>
</p>
<%= f.submit "Reset Password " %>
<% end %>
</div>
</body>
</html>

